In [4]:
import yfinance as yf
import pandas as pd

In [35]:
# ba_1y = yf.Ticker('BA').history(period='1y')

In [13]:
ba_1y = pd.read_csv('DataFiles/ba_1y.csv', index_col='Date')

In [39]:
ba_1y['close_pl_1'] = ba_1y['Close'].shift(-1)
ba_1y['close_pl_2'] = ba_1y['Close'].shift(-2)
ba_1y['close_pl_3'] = ba_1y['Close'].shift(-3)

In [23]:
# bullish engulfing
ba_bull_eng = ba_1y.loc[(ba_1y['Close'] < ba_1y['Open'] ) & \
    (ba_1y['Close'].shift(-1) > ba_1y['Open']) & \
    (ba_1y['Open'].shift(-1) < ba_1y['Close'])]

In [46]:
ba_1y.loc[(ba_1y['Close'] < ba_1y['Open'] ) & \
    (ba_1y['Close'].shift(-1) > ba_1y['Open']) & \
    (ba_1y['Open'].shift(-1) < ba_1y['Close']) & \
    (ba_1y['Close'].shift(-1) < ba_1y['Close'].shift(-2) )
        ]

,Open,High,Low,Close,Volume,Dividends,Stock Splits,close_pl_1,close_pl_2,close_pl_3
Date,,,,,,,,,,
2019-08-27,355.22,357.09,349.49,350.59,3740300,0.0,0,355.76,358.50,359.84
2019-10-02,367.51,368.63,359.52,363.07,3698300,0.0,0,367.72,371.31,372.14
2020-01-22,307.99,310.99,300.93,307.17,18792600,0.0,0,315.91,321.14,314.73

In [22]:
ba_bull_eng

              Open   Close
Date
2019-07-29  338.85  334.15
2019-08-27  355.22  350.59
2019-10-02  367.51  363.07
2019-10-28  337.51  336.90
2019-11-08  354.29  348.92
2020-01-22  307.99  307.17

In [60]:
ba_1y.loc['2020-06-30':'2020-07-01']

              Open    High     Low   Close    Volume  Dividends  Stock Splits
Date
2020-06-30  188.02  188.49  180.38  183.30  65493100        0.0             0
2020-07-01  185.88  190.61  180.04  180.32  49036700        0.0             0

In [2]:
4833.84/12

402.82