In [4]:
import yfinance as yf

In [5]:
fb = yf.Ticker('FB')

In [7]:
fb.history(period='1y')

              Open    High     Low   Close    Volume  Dividends  Stock Splits
Date
2019-07-18  200.15  202.47  199.38  200.78  11956600          0             0
2019-07-19  202.18  202.33  198.07  198.36  12098300          0             0
2019-07-22  199.91  202.57  198.81  202.32  13589000          0             0
2019-07-23  202.84  204.24  200.96  202.36  14583700          0             0
2019-07-24  197.63  204.81  197.22  204.66  32532500          0             0
...            ...     ...     ...     ...       ...        ...           ...
2020-07-13  247.01  250.15  238.42  239.00  24674900          0             0
2020-07-14  236.76  240.33  232.03  239.73  23378100          0             0
2020-07-15  241.55  244.82  238.05  240.28  19133600          0             0
2020-07-16  238.00  241.76  236.33  240.93  18880700          0             0
2020-07-17  241.00  244.16  237.86  242.03  18144100          0             0

[253 rows x 7 columns]