In [20]:
import yfinance as yf
import pandas as pd

In [35]:
ba_1y = yf.Ticker('BA').history(period='1y')

In [58]:
ba_1y.loc[(ba_1y['Close'] < ba_1y['Open'] ) & \
    (ba_1y['Close'].shift(1) > ba_1y['Open']) & \
    (ba_1y['Open'].shift(1) < ba_1y['Close'])]

              Open    High     Low   Close    Volume  Dividends  Stock Splits
Date
2019-07-22  370.23  375.67  365.27  366.77   4265100        0.0             0
2019-09-19  381.63  383.98  378.43  379.95   2928800        0.0             0
2019-10-14  369.88  374.28  368.33  368.82   2124500        0.0             0
2019-10-30  342.58  345.91  339.26  342.02   3997600        0.0             0
2019-11-12  364.32  364.94  357.88  360.73   5769700        0.0             0
2019-11-21  367.56  368.57  364.09  364.27   2703800        0.0             0
2019-12-09  350.58  351.51  347.50  349.13   2844600        0.0             0
2019-12-12  346.19  348.99  338.98  344.24   5970000        0.0             0
2020-02-07  338.36  338.72  333.70  334.76   5337800        0.0             0
2020-06-26  173.42  173.85  167.60  170.01  50644400        0.0             0
2020-06-30  188.02  188.49  180.38  183.30  65493100        0.0             0

In [60]:
ba_1y.loc['2020-06-30':'2020-07-01']

              Open    High     Low   Close    Volume  Dividends  Stock Splits
Date
2020-06-30  188.02  188.49  180.38  183.30  65493100        0.0             0
2020-07-01  185.88  190.61  180.04  180.32  49036700        0.0             0