In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
from datetime import timedelta
import stocksymbol as ss

In [2]:
goog = ss.StockSymbol('GOOG')

In [3]:
goog.alphavantage_intraday_5_min_df

,datetime,open,high,low,close,ccp,volume
0,2020-07-14 16:05:00,1520.58,1520.58,1520.580,1520.58,0,26081.0
1,2020-07-14 16:10:00,1518.95,1518.95,1518.950,1518.95,-0.00107196,607.0
2,2020-07-14 16:15:00,1520.58,1520.58,1520.580,1520.58,0.00107311,3099.0
3,2020-07-14 16:20:00,1517.97,1517.97,1517.970,1517.97,-0.00171645,436.0
4,2020-07-14 16:25:00,1518.96,1518.96,1518.960,1518.96,0.000652187,518.0
...,...,...,...,...,...,...,...
95,2020-07-15 16:00:00,1511.30,1514.73,1510.385,1513.85,0.00186628,60132.0
96,2020-07-15 16:05:00,1513.64,1513.64,1513.640,1513.64,-0.000138719,37053.0
97,2020-07-15 16:15:00,1513.64,1513.64,1513.640,1513.64,0,229.0
98,2020-07-15 17:05:00,1514.33,1514.33,1514.330,1514.33,0.000455855,306.0
99,2020-07-15 17:25:00,1514.33,1514.33,1514.330,1514.33,0,100.0

In [4]:
goog.alphavantage_100_days_df

      datetime     open     high      low    close         ccp     volume
0   2020-02-25  1433.00  1438.14  1382.40  1388.45           0  2478278.0
1   2020-02-26  1396.14  1415.70  1379.00  1393.18  0.00340668  2204037.0
2   2020-02-27  1362.06  1371.70  1317.17  1318.09  -0.0538983  2978300.0
3   2020-02-28  1277.50  1341.14  1271.00  1339.33   0.0161142  3790618.0
4   2020-03-02  1351.61  1390.87  1326.82  1389.11   0.0371678  2431468.0
..         ...      ...      ...      ...      ...         ...        ...
95  2020-07-10  1506.15  1543.83  1496.54  1541.74   0.0203509  1857200.0
96  2020-07-13  1550.00  1577.13  1505.24  1511.34   -0.019718  1846400.0
97  2020-07-14  1490.31  1522.95  1483.50  1520.58  0.00611378  1585000.0
98  2020-07-15  1523.13  1535.33  1498.00  1513.64 -0.00456405  1761000.0
99  2020-07-16  1500.00  1518.69  1486.31  1518.00  0.00288047  1445100.0

[100 rows x 7 columns]