In [2]:
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
# ba_1y = yf.Ticker('BA').history(period='1y')
ba_1y = pd.read_csv('DataFiles/ba_1y.csv', index_col='Date')
data = ba_1y[['Open', 'High', 'Low', 'Close']]

In [5]:
data['swings'] = np.nan
pivot = data.iloc[0]['Open']
last_pivot_id = 0
up_down = 0
diff = .3

for i in range(0, len(data)):
    row = data.iloc[i]

    # We don't have a trend yet
    if up_down == 0:
        if row['Low'] < pivot - diff:
            data.iloc[i]['swings'] = row['Low'] - pivot
            pivot, last_pivot_id = row['Low'], i
            up_down = -1
        elif row['High'] > pivot + diff:
            data.iloc[i]['swings'] = row['High'] - pivot
            pivot, last_pivot_id = row['High'], i
            up_down = 1

In [14]:
data

              Open    High     Low   Close  swings
Date
2019-07-18  361.05  361.89  353.34  354.68     NaN
2019-07-19  364.07  371.66  361.94  370.64     NaN
2019-07-22  370.23  375.67  365.27  366.77     NaN
2019-07-23  367.60  369.73  364.08  366.43     NaN
2019-07-24  363.68  364.75  353.62  354.99     NaN
...            ...     ...     ...     ...     ...
2020-07-13  180.20  183.25  174.36  175.65     NaN
2020-07-14  177.00  181.30  173.41  179.96     NaN
2020-07-15  185.54  189.53  181.25  187.94     NaN
2020-07-16  184.32  184.59  177.34  178.70     NaN
2020-07-17  178.41  181.10  175.55  175.66     NaN

[253 rows x 5 columns]

In [17]:
data.iloc[0]['swings'] = 11

In [24]:
data.iloc[0]

Open      361.05
High      361.89
Low       353.34
Close     354.68
swings     22.00
Name: 2019-07-18, dtype: float64

In [23]:
data.iloc[0, -1] = 22